---
import Layout from "../../layouts/Layout.astro";
import About from "../../components/About.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="关于 - 小哲">
    <main class="pt-20">
        <About />
    </main>
    <Footer />
</Layout>
