---
import Layout from "../../layouts/Layout.astro";
import AboutPage from "../../components/AboutPage.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="About - Ethan Zhao">
    <main>
        <AboutPage />
    </main>
    <Footer />
</Layout>
