---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="About - Ethan Zhao">
    <main class="pt-20">
        <About />
    </main>
    <Footer />
</Layout>
